---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



Publications (Google Scholar)
*2025
  *Wenhao Gu, Li Gu, Ziqiang Wang, Ching Suen and Yang Wang. DocTTT: Test-Time Training for Handwritten Document Recognition Using Meta-Auxiliary Learning. IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2025.
*2024
  *Ziqiang Wang, Zhixiang Chi, Yanan Wu, Li Gu, Zhi Liu, Konstantinos Plataniotis and Yang Wang. Distribution Alignment for Fully Test-Time Adaptation with Dynamic Online Data Streams. European Conference on Computer Vision (ECCV), 2024.
  *Shuvozit Ghose, Manyi Li, Yiming Qiang and Yang Wang. CLIP-based Point Cloud Classification via Point Cloud to Image Translation. International Conference on Pattern Recognition (ICPR), 2024.

Wenbo Xu, Yanan Wu, Haoran Jiang, Yang Wang, Qiang Wu, Jian Zhang. Task Consistent Prototype Learning for Incremental Few-shot Semantic Segmentation. International Conference on Pattern Recognition (ICPR), 2024.
Chaoqun Ma, Ferrante Neri, Li Gu, Ziqiang Wang, Jian Wang, Anyong Qing and Yang Wang. Crowd Counting Using Meta Test-Time Adaptation. International Journal of Neural Systems, 2024.
Yong Wu, Guang Chen, Linwei Ye, Yuanning Jia, Zhi Liu and Yang Wang. TTAGaze: Self-Supervised Test-Time Adaptation for Personalized Gaze Estimation. IEEE Transactions on Circuits and Systems for Video Technology (TCSVT), 2024.
Yong Wu, Yang Wang, Sanqing Qu, Zhijun Li and Guang Chen. ELF-UA: Efficient Label-Free User Adaptation in Gaze Estimation. International Joint Conference on Artificial Intelligence (IJCAI), 2024.
Shuvozit Ghose, Yang Wang. Meta Episodic Learning with Dynamic Task Sampling for CLIP-based Point Cloud Classification. Conference on Robots and Vision (CRV), 2024.
Hossein Abedi Khorasgani, Noman Mohammed and Yang Wang. Attribute inference privacy protection for pre-trained models. International Journal of Information Security, 2024.
Zhixiang Chi, Li Gu, Tao Zhong, Huan Liu, Yuanhao Yu, Konstantinos N Plataniotis, Yang Wang. Adapting to Distribution Shift by Visual Domain Prompt Generation. International Conference on Learning Representations (ICLR), 2024. Code / Project page
Chaoqun Ma, Jia Zeng, Penghui Shao, Anyong Qing and Yang Wang. MetaUSACC: Unlabeled scene adaptation for crowd counting via meta-auxiliary learning. Expert Systems with Applications, 2024.
Chaoqun Ma, Jia Zeng, Penghui Shao, Anyong Qing and Yang Wang. Unlabeled scene adaptive crowd counting via meta-ensemble learning. Transportation Research Part C: Emerging Technologies, 2024.
Huan Liu, Julia Qi, Zhenhao Li, Mohammad Hassanpour, Yang Wang, Konstantinos Plataniotis, Yuanhao Yu. Test-Time Personalization with Meta Prompt for Gaze Estimation. AAAI Conference on Artificial Intelligence (AAAI), 2024. Code
Yanan Wu, Zhixiang Chi, Yang Wang, Konstantinos Plataniotis, Songhe Feng. Test-Time Domain Adaptation by Learning Domain-Aware Batch Normalization. AAAI Conference on Artificial Intelligence (AAAI), 2024.
Md Amirul Islam, Seyed Shahabeddin Nabavi, Irina Kezele, Yang Wang, Yuanhao Yu and Jin Tang. Visually Guided Audio Source Separation with Meta Consistency Learning. IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2024.
2023
Seyed Mehdi Ayyoubzadeh, Wentao Liu, Irina Kezele, Yuanhao Yu, Xiaolin Wu, Yang Wang and Tang Jin. Test-Time Adaptation for Optical Flow Estimation Using Motion Vectors. IEEE Transactions on Image Processing, 2023.
Yanan Wu, Zhixiang Chi, Yang Wang and Songhe Feng. MetaGCD: Learning to Continually Learn in Generalized Category Discovery. IEEE/CVF International Conference on Computer Vision (ICCV), 2023. Code
Ahmed Hatem, Yiming Qian and Yang Wang. Point-TTA: Test-Time Adaptation for Point Cloud Registration Using Multitask Meta-Auxiliary Learning. IEEE/CVF International Conference on Computer Vision (ICCV), 2023.
Mostafa Shahabinejad, Irina Kezele, Seyed Shahabeddin Nabavi, Wentao Liu, Seel Patel, Yuanhao Yu, Yang Wang and Jin Tang. Video Action Recognition with Adaptive Zooming Using Motion Residuals. ICCV Workshop on Resource Efficient Deep Learning for Computer Vision, 2023.
Ahmed Hatem, Yiming Qian and Yang Wang. Test-Time Adaptation for Point Cloud Upsampling Using Meta-Learning. IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), 2023.
Fahim Faisal, Carson Leung, Noman Mohammed and Yang Wang. Privacy-Preserving Learning via Data and Knowledge Distillation. IEEE International Conference on Data Science and Advanced Analytics (DSAA), 2023.
Hossein Abedi Khorasgani, Yang Wang and Noman Mohammed. Black-Box Attribute Inference Protection With Adversarial Reprogramming. International Conference on Privacy, Security and Trust (PST2023), 2023.
Shekhor Chanda and Yang Wang. Dynamic Transfer for Domain Adaptation in Crowd Counting. International Conference on Machine Vision Applications (MVA), 2023.
Yanan Wu, Songhe Feng and Yang Wang. Semantic-Aware Graph Matching Mechanism for Multi-Label Image Recognition. IEEE Transactions on Circuits and Systems for Video Technology, 2023.
Lili Zhu, Petros Spachos, Pai Chet Ng, Yuanhao Yu, Yang Wang, Konstantinos Plataniotis and Dimitrios Hatzinakos. Stress Detection Through Wrist-Based Electrodermal Activity Monitoring and Machine Learning. IEEE Journal of Biomedical and Health Informatics , 2023.
Mehrdad Hosseinzadeh and Yang Wang. Few-Shot Personality-Specific Image Captioning via Meta-Learning. Conference on Robots and Vision (CRV), 2023.
Yanan Wu, Tengfei Liang, Songhe Feng, Yi Jin, Gengyu Lyu, Haojun Fei and Yang Wang. MetaZSCIL: A Meta-Learning Approach for Generalized Zero-Shot Class Incremental Learning. AAAI Conference on Artificial Intelligence (AAAI), 2023.
Yong Wu, Shekhor Chanda, Mehrdad Hosseinzadeh, Zhi Liu and Yang Wang. Few-Shot Learning of Compact Models via Task-Specific Meta Distillation. IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2023.
Huan Liu, Zhixiang Chi, Yuanhao Yu, Yang Wang, Jun Chen and Jin Tang. Meta-Auxiliary Learning for Future Depth Prediction in Videos. IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2023.
2022
Mayu Otani, Yale Song and Yang Wang. Video Summarization Overview. Foundations and Trends in Computer Graphics and Vision, 2022. arXiv version
Tao Zhong, Zhixiang Chi, Li Gu, Yang Wang, Yuanhao Yu and Jin Tang. Meta-DMoE: Adapting to Domain Shift by Meta-Distillation from Mixture-of-Experts. Conference on Neural Information Processing Systems (NeurIPS), 2022. Code
Fahim Faisal, Carson Leung, Noman Mohammed and Yang Wang. Generating Privacy Preserving Synthetic Medical Data. IEEE International Conference on Data Science and Advanced Analytics (DSAA), 2022. PDF
Huan Liu, Li Gu, Zhixiang Chi, Yang Wang, Yuanhao Yu, Jun Chen and Jin Tang. Few-Shot Class-Incremental Learning via Entropy-Regularized Data-Free Replay. European Conference on Computer Vision (ECCV), 2022.
M.M.Islam, N.Mohammed, Y.Wang, P.Hu. Differential Private Deep Learning Models for analyzing breast cancer omics data. Frontiers in Oncology, 2022.
Binglin Li, Linwei Ye, Jie Liang, Yang Wang and Jingning Han. Region-of-Interest and Channel Attention-based Joint Optimization of Image Compression and Computer Vision. Neurocomputing, 2022.
Zhixiang Chi, Li Gu, Huan Liu, Yuanhao Yu, Yang Wang and Jin Tang. MetaFSCIL: A Meta-Learning Approach for Few-Shot Class Incremental Learning . IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2022.
Taivanbat Badamdorj, Mrigank Rochan, Yang Wang and Li Cheng. Contrastive Learning for Unsupervised Video Highlight Detection. IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2022.
Hanwen Liang, Niamul Quader, Zhixiang Chi, Lizhe Chen, Peng Dai, Juwei Lu and Yang Wang. Self-supervised Spatiotemporal Representation Learning by Exploiting Video Continuity. AAAI Conference on Artificial Intelligence (AAAI), 2022.
L. Zhu, P. Ng, Y. Yu, Y. Wang, P. Spachos, D. Hatzinakos, K. Plataniotis. Feasibility Study of Stress Detection with Machine Learning through EDA from Wearable Devices. IEEE International Conference on Communications (ICC), 2022. PDF
D. Hwang, P. Ng, Y. Yu, Y. Wang, P. Spachos, D. Hatzinakos, K. Plataniotis. Hierarchical Deep Learning Model with Inertial and Physiological Sensors Fusion for Wearable-based Human Activity Recognition. IEEE International Conference on Acoustics, Speech, and Signal Processing (ICASSP) , 2022. PDF
Yong Wu, Gongyang Li, Zhi Liu, Mengke Huang and Yang Wang. Gaze Estimation via Modulation-based Adaptive Network with Auxiliary Self-Learning. IEEE Transactions on Circuits and Systems for Video Technology, 2022. PDF
Huan Liu, Wentao Liu, Zhixiang Chi, Yang Wang, Yuanhao Yu, Jun Chen and Tang Jin. Fast Human Pose Estimation in Compressed Videos, IEEE Transactions on Multimedia, 2022. PDF
Ziqiang Wang, Zhi Liu, Gongyang Li, Yang Wang, Tianhong Zhang, Lihua Xu, Jijun Wang. Spatio-Temporal Self-Attention Network for Video Saliency Prediction. IEEE Transactions on Multimedia, 2022. PDF
Zhen Bai, Zhi Liu, Gongyang Li and Yang Wang. Adaptive Group-wise Consistency Network for Co-saliency Detection, IEEE Transactions on Multimedia, 2022. PDF
2021
Md. Mohaminul Islam, Yang Wang and Pingzhao Hu. A Maximum Flow-Based Approach to Prioritize Drugs for Drug Repurposing of Chronic Diseases. Life, 2021.
Mostafa Shahabinejab, Yang Wang, Yuanhao Yu, Jin Tang and Jiani Li. Toward Personalized Emotion Recognition: A Face Recognition Based Attention Method for Facial Emotion Recognition. IEEE International Conference on Automatic Face and Gesture Recognition (FG), 2021. PDF
Taivanbat Badamdorj, Mrigank Rochan, Yang Wang and Li Cheng. Joint Visual and Audio Learning for Video Highlight Detection, IEEE/CVF International Conference on Computer Vision (ICCV), 2021.
Zhen Bai, Zhi Liu, Gongyang Li, Linwei Ye and Yang Wang. Circular Complement Network for RGB-D Salient Object Detection, Neurocomputing. 2021.
Yong Wu, Zhi Liu, Xiaofei Zhou, Linwei Ye and Yang Wang. ATCC: Accurate tracking by criss-cross location attention. Image and Vision Computing, 2021.
Zhixiang Chi, Yang Wang, Yuanhao Yu and Jin Tang. Test-Time Fast Adaptation for Dynamic Scene Deblurring via Meta-Auxiliary Learning. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2021.
Mehrdad Hosseinzadeh and Yang Wang. Image Change Captioning by Learning from an Auxiliary Task. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2021.
Mahesh Kumar Krishna Reddy, Mrigank Rochan, Yiwei Lu and Yang Wang. AdaCrowd: Unlabeled Scene Adaptation for Crowd Counting. IEEE Transactions on Multimedia, 2021. Code
Linwei Ye, Mrigank Rochan, Zhi Liu, Xiaoqin Zhang and Yang Wang. Referring Segmentation in Images and Videos with Cross-Modal Self-Attention Network, IEEE Transactions on Pattern Analysis and Machine Intelligence, 2021.
Mehrdad Hosseinzadeh and Yang Wang. Video Captioning of Future Frames. IEEE Winter Conference on Applications of Computer Vision (WACV), 2021.
2020
Zheng Hu, Zhi Liu, Gongyang Li, Linwei Ye, Lei Zhou and Yang Wang. Weakly supervised instance segmentation using multi-stage erasing refinement and saliency-guided proposals ordering, Journal of Visual Communication and Image Representation, 2020.
Md Mohaiminul Islam, Shujun Huang, Rasif Ajwad, Chen Chi, Yang Wang and Pingzhao Hu. An integrative deep learning framework for classifying molecular subtypes of breast cancer. Computational and Structural Biotechnology Journal, 2020.
Mrigank Rochan, Mahesh Kumar Krishna Reddy and Yang Wang. Sentence Guided Temporal Modulation for Dynamic Video Thumbnail Generation. British Machine Vision Conference (BMVC), 2020.
Mrigank Rochan, Mahesh Kumar Krishna Reddy, Linwei Ye and Yang Wang. Adaptive Video Highlight Detection by Learning from User History. European Conference on Computer Vision (ECCV), 2020. Code
Yiwei Lu, Frank Yu, Mahesh Kumar Krishna Reddy and Yang Wang. Few-Shot Scene-Adaptive Anomaly Detection. European Conference on Computer Vision (ECCV), 2020. Spotlight talk, Code
Gongyang Li, Zhi Liu, Linwei Ye, Yang Wang and Haibin Ling. Cross-Modal Weighting Network for RGB-D Salient Object Detection. European Conference on Computer Vision (ECCV), 2020. Code
Mehrdad Hosseinzadeh and Yang Wang. Composed Query Image Retrieval Using Locally Bounded Features. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2020.
Minyu Chen, Zhi Liu, Linwei Ye and Yang Wang. Attentional coarse-and-fine generative adversarial networks for image inpainting, Neurocomputing, 2020.
Qihan Jiao, Zhi Liu, Gongyang Li, Linwei Ye and Yang Wang. Fine-grained Image Classification with Coarse and Fine Labels on One-shot Learning, IEEE International Workshop on Mobile Multimedia Computing (at ICME), 2020.
Mohammad Asiful Hossain, Mahesh Kumar Krishna Reddy, Kevin Cannons, Zhan Xu and Yang Wang. Domain Adaptation in Crowd Counting. The 17th Conference on Computer and Robot Vision (CRV), 2020.
Linwei Ye, Zhi Liu and Yang Wang. Dual Convolutional LSTM Network for Referring Image Segmentation. IEEE Transactions on Multimedia, 2020.
Mahesh Kumar Krishna Reddy, Mohammed Asiful Hossain, Mrigank Rochan and Yang Wang. Few-Shot Scene Adaptive Crowd Counting Using Meta-Learning. IEEE Winter Conference on Applications of Computer Vision (WACV), 2020. Code on Github
Seyed Shahabeddin Nabavi, Mehrdad Hosseinzadeh, Ramin Fahimi and Yang Wang. Unsupervised Learning of Camera Pose with Compositional Re-estimation. IEEE Winter Conference on Applications of Computer Vision (WACV), 2020.
Binglin Li, Mohammad Akbari, Jie Liang and Yang Wang. Deep Learning-based Image Compression with Trellis Coded Quantization. Data Compression Conference (DCC), 2020.
Mahmoud Kalash, Mrigank Rochan, Noman Mohammed, Neil Bruce, Yang Wang, and Farkhund Iqbal. A Deep Learning Framework for Malware Classification. International Journal of Digital Crime and Forensics (IJDCF), 2020.
2019
Yiwei Lu, Mahesh Kumar K, Noman Mohammed and Yang Wang. Homoglyph Attack Detection with Unpaired Data. ACM/IEEE Workshop on Security and Privacy in Edge Computing (EdgeS&P), 2019.
Mengke Huang, Zhi Liu, Linwei Ye, Xiaofei Zhou and Yang Wang. Saliency Detection via Multi-level Integration and Multi-scale Fusion Neural Networks. Neurocomputing, 2019.
Qihan Jiao, Zhi Liu, Linwei Ye and Yang Wang. Weakly Labeled Fine-grained Classification with Hierarchy Relationship of Fine and Coarse Labels. Journal of Visual Communication and Image Representation, 2019.
Ang Li, Yiwei Lu and Yang Wang. Semantic Segmentation in Compressed Videos. IEEE International Workshop on Multimedia Signal Processing (MMSP), 2019.
Omit Chanda and Yang Wang. One-Shot Video Segmentation Using Attention Transfer. IEEE International Workshop on Multimedia Signal Processing (MMSP), 2019.
Shivansh Rao, Peng Cao, Tanzila Rahman, Mrigank Rochan and Yang Wang. Non-local Attentive Temporal Network for Video-based Person Re-Identification. IEEE International Conference on Advanced Video and Signal-based Surveillance (AVSS), 2019.
Yiwei Lu, Mahesh Kumar K, Seyed shahabeddin Nabavi and Yang Wang. Future Frame Prediction Using Convolutional VRNN for Anomaly Detection. IEEE International Conference on Advanced Video and Signal-based Surveillance (AVSS), 2019. Code on Github
Tanzila Rahman, Mrigank Rochan and Yang Wang. Video-based Person Re-identification Using Refined Attention Networks. IEEE International Conference on Advanced Video and Signal-based Surveillance (AVSS), 2019.
Mohammad Asiful Hossain, Mahesh Kumar K, Mehrdad Hosseinzadeh, Omit Chanda and Yang Wang. One-Shot Scene-Specific Crowd Counting. British Machine Vision Conference (BMVC), 2019.
Binglin Li, Jie Liang and Yang Wang. Compression Artifact Removal with Stacked Multi-context Channel-wise Attention Network. IEEE International Conference on Image Processing (ICIP), 2019.
Tanzila Rahman, Mrigank Rochan and Yang Wang. Convolutional Temporal Attention Model for Video-based Person Re-identification. IEEE International Conference on Multimedia and Expo (ICME), 2019.
Mrigank Rochan and Yang Wang. Video Summarization by Learning from Unpaired Data. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2019.
Linwei Ye, Mrigank Rochan, Zhi Liu and Yang Wang. Cross-Modal Self-Attention Network for Referring Image Segmentation. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2019. Code on Github
Md Asiful Hossain, Mehrdad Hosseinzadeh, Omit Chanda and Yang Wang. Crowd Counting Using Scale-Aware Attention Networks. IEEE Winter Conference on Applications of Computer Vision (WACV), 2019.
2018
Md Mohaiminul Islam, Ye Tian, Yan Cheng, Yang Wang and Pingzhao Hu. A deep neural network based regression model for triglyceride concentrations prediction using epigenome-wide DNA methylation profiles. BMC Proceedings, 2018.
Md Asiful Hossain, Rezaul Karim, Ruppa K. Thulasiram, Neil Bruce and Yang Wang. Hybrid Deep Learning Model for Stock Price Prediction. IEEE Symposium Series on Computational Intelligence (SSCI), 2018.
Mrigank Rochan, Linwei Ye and Yang Wang. Video Summarization Using Fully Convolutional Sequence Networks. European Conference on Computer Vision (ECCV), 2018.
Seyed Shahabeddin Nabavi, Mrigank Rochan and Yang Wang. Future Semantic Segmentation with Convolutional LSTM. British Machine Vision Conference (BMVC), 2018.
Md Mohaiminul Islam, Yang Wang and Pingzhao Hu. Deep learning models for predicting phenotypic traits and diseases from omic data. Book chapter in Artificial Intelligence (ISBN 978-953-6129-5), InTechOpen Press, 2018.
Linwei Ye, Binglin Li, Noman Mohammed, Yang Wang and Jie Liang. Privacy-Preserving Age Estimation for Content Rating. IEEE International Workshop on Multimedia Signal Processing (MMSP), 2018.
Binglin Li and Yang Wang. Visual Relationship Detection Using Joint Visual-Semantic Embedding. International Conference on Pattern Recognition (ICPR), 2018.
Jaideep Singh Chauhan and Yang Wang. Context-Aware Action Detection in Untrimmed Videos Using Bidirectional LSTM. The 15th Conference on Computer and Robot Vision (CRV), 2018.
Md Atiqur Rahman, Tanzila Rahman, Robert Laganiere, Noman Mohammed and Yang Wang. Membership Inference Attack against Differentially Private Deep Learning Model. Transactions on Data Privacy (TDP), 2018
Linwei Ye, Zhi Liu and Yang Wang. Learning Semantic Segmentation with Diverse Supervision. IEEE Winter Conference on Applications of Computer Vision (WACV), 2018.
Mahmoud Kalash, Mrigank Rochan, Noman Mohammed, Neil Bruce, Yang Wang and Farkhund Iqbal. Malware Classification with Deep Convolutional Neural Networks. International Workshop on Cybercrime Investigation and Digital Forensics (CID) in conjunction with the IFIP International Conference on New Technologies, Mobility and Security (NTMS), 2018.
Shujun Huang, Nianguang Cai, Pedro Penzuti Pacheco, Shavira Narrandes, Yang Wang and Wayne Xu. Applications of Support Vector Machine (SVM) Learning in Cancer Genomics. Cancer Genomics and Proteomics, 2018.
2017
Kazi Wasif Ahmed, Omit Chanda, Noman Mohammed and Yang Wang. Obfuscated Image Classification for Secure Image-centric Friend Recommendation. Special Issue on Towards Secure, Privacy-Preserving, and Reliable Smart Cities and Society, Elsevier Sustainable Cities and Society, 2017.
Eu Wern Teh, Zhenyu Guo and Yang Wang. Object Localization in Weakly Labeled Data Using Regularized Attention Networks. IEEE Visual Communications and Image Processing (VCIP), 2017.
Tanzila Rahman, Mrigank Rochan and Yang Wang. Person Re-Identification by Localizing Discriminative Regions. The 28th British Machine Vision Conference (BMVC), 2017.
Omit Chanda, Eu Wern Teh, Mrigank Rochan, Zhenyu Guo and Yang Wang. Adapting Object Detectors from Images to Weakly Labeled Videos. The 28th British Machine Vision Conference (BMVC), 2017. Code on GitHub
Md Amirul Islam, Mahmoud Kalash, Mrigank Rochan, Neil Bruce and Yang Wang. Salient Object Detection using a Context-Aware Refinement Network. The 28th British Machine Vision Conference (BMVC), 2017.
Linwei Ye, Zhi Liu and Yang Wang. Depth-Aware Object Instance Segmentation. IEEE International Conference on Image Processing (ICIP), 2017.
Linwei Ye, Zhi Liu, Lina Li, Liquan Shen, Cong Bai and Yang Wang. Salient Object Segmentation via Effective Integration of Saliency and Objectness. IEEE Transactions on Multimedia, 2017.
Md Amirul Islam, Mrigank Rochan, Neil Bruce and Yang Wang. Gated Feedback Refinement Network for Dense Image Labeling. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2017. Code on GitHub
Jie Lei, Zhenyu Guo and Yang Wang. Weakly Supervised Image Classification with Coarse and Fine Labels. The 14th Conference on Computer and Robot Vision (CRV), 2017. Code on GitHub
Md Mohaiminul Islam, Rasif Ajwad, Chen Chi, Michael Domaratski, Yang Wang and Pingzhao Hu. Somatic Copy Number Alteration-Based Prediction of Molecular Subtypes of Breast Cancer Using Deep Learning. The 30th Canadian Conference on Artificial Intelligence (AI), 2017.
2016
Mrigank Rochan, Shafin Rahman, Neil Bruce and Yang Wang. Weakly Supervised Object Localization and Segmentation in Videos. Image and Vision Computing, 2016.
Md Atiqur Rahman and Yang Wang. Optimizing Intersection-Over-Union in Deep Neural Networks for Image Segmentation. International Symposium on Visual Computing (ISVC), 2016.
Eu Wern Teh, Mrigank Rochan and Yang Wang. Attention Networks for Weakly Supervised Object Localization. The 27th British Machine Vision Conference (BMVC), 2016
Geng Yan, Yang Wang and Zicheng Liao. LSTM for Image Annotation with Relative Visual Importance. The 27th British Machine Vision Conference (BMVC), 2016
Shujon Naha and Yang Wang. Beyond Verbs: Understanding Actions in Videos with Text. International Conference on Pattern Recognition (ICPR), 2016.
Shujon Naha and Yang Wang. Object Figure-Ground Segmentation Using Zero-Shot Learning. International Conference on Pattern Recognition (ICPR), 2016.
Md Amirul Islam, Neil Bruce and Yang Wang. Dense Image Labeling Using Deep Convolutional Neural Networks. The 13th Conference on Computer and Robot Vision (CRV), 2016.
Md Atiqur Rahman and Yang Wang. Learning Neural Networks with Ranking-based Losses for Action Retrieval. The 13th Conference on Computer and Robot Vision (CRV), 2016. Best Vision Paper Award
Li-Jia Li, Rahul Kumar Jha, Bart Thomee, David A. Shamma, Liangliang Cao and Yang Wang. Where the Photos Were Taken: Location Prediction by Learning from Flickr Photos. Book chapter in Large-Scale Visual Geo-Localization, Springer, 2016.
2015
Mrigank Rochan and Yang Wang. Weakly Supervised Localization of Novel Objects using Appearance Transfer. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2015.
Shujon Naha and Yang Wang. Zero-Shot Object Recognition Using Semantic Label Vectors. The 12th Conference on Computer and Robot Vision (CRV), 2015.
Mrigank Rochan and Yang Wang. Latent SVM for Object Localization in Weakly Labeled Videos. The 12th Conference on Computer and Robot Vision (CRV), 2015.
2014
Mrigank Rochan and Yang Wang. Efficient Object Localization and Segmentation in Weakly Labeled Videos. The 10th International Symposium on Visual Computing (ISVC), 2014.
Somayah Albaradei and Yang Wang. Object Classification Using a Semantic Hierarchy. The 10th International Symposium on Visual Computing (ISVC), 2014.
Shafin Rahman, Mrigank Rochan, Yang Wang and Neil Bruce. Examining Visual Saliency Prediction in Naturalistic Scenes. IEEE International Conference on Image Processing (ICIP), 2014.
Carson Kai-Sang Leung, Richard Kyle MacKinnon and Yang Wang. Machine Learning Approach for Stock Price Prediction. International Database Engineering and Applications Symposium (IDEAS), 2014
Duan Tran, Yang Wang and David Forsyth. Human Parsing with a Cascade of Hierarchical Poselet Based Pruners. IEEE International Conference on Multimedia and Expo (ICME), 2014.
Mrigank Rochan, Shafin Rahman, Neil Bruce and Yang Wang. Segmenting Objects in Weakly Labeled Videos. The 11th Conference on Computer and Robot Vision (CRV), 2014.
Somayah Albaradei, Yang Wang, Liangliang Cao and Li-Jia Li. Learning Mid-Level Features from Object Hierarchy for Image Classification. IEEE Winter Conference on Applications of Computer Vision (WACV), 2014.
2013
Zicheng Liao, Jason Rock, Yang Wang and David Forsyth. Non-Parametric Filtering for Geometric Detail Extraction and Material Representation. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2013.
Yang Wang and David Forsyth. Large Multi-class Image Categorization with Ensembles of Label Trees. IEEE International Conference on Multimedia and Expo (ICME), 2013.
Khalad Hasan, Yang Wang, Wing Kwong and Pourang Irani. Enabling User Interactions with Video Contents. The 10th Conference on Computer and Robot Vision (CRV), 2013. video demo
Debajyoti Mondal, Yang Wang and Stephane Durocher. Robust Solvers for Square Jigsaw Puzzles. The 10th Conference on Computer and Robot Vision (CRV), 2013.
Yang Wang and Liangliang Cao. Discovering Latent Clusters from Geotagged Beach Images. International Conference on Multimedia Modeling (MMM), 2013.
Mani Ranjbar, Tian Lan, Yang Wang, Stephen Robinovitch and Greg Mori. Optimizing Non-Decomposable Loss Functions in Structured Prediction. IEEE Transactions on Pattern Analysis and Machine Intelligence, 2013.
2012
Yang Wang, Duan Tran, Zicheng Liao and David Forsyth. Discriminative Hierarchical Part-based Models for Human Parsing and Action Recognition. Journal of Machine Learning Research (JMLR), 2012.
Weilong Yang, Yang Wang, Arash Vahdat and Greg Mori. Kernel Latent SVM for Visual Recognition. Advances in Neural Information Processing Systems (NIPS), 2012.
Tian Lan, Weilong Yang, Yang Wang and Greg Mori. Image Retrieval with Structured Object Queries using Latent Ranking SVM. European Conference on Computer Vision (ECCV), 2012.
Zicheng Liao, Ali Farhadi, Yang Wang, Ian Endres and David Forsyth. Building a Dictionary of Image Fragments. IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2012.
Tian Lan, Yang Wang, Weilong Yang, Stephen Robinovitch and Greg Mori. Discriminative Latent Models for Recognizing Contextual Group Activities. IEEE Transactions on Pattern Analysis and Machine Intelligence, 2012.
2011
Yang Wang and Greg Mori. Max-margin Latent Dirichlet Allocation for Image Classification and Annotation. British Machine Vision Conference (BMVC), 2011.
Zhi Feng Huang, Weilong Yang, Yang Wang and Greg Mori. Latent Boosting for Action Recognition. British Machine Vision Conference (BMVC), 2011.
Tian Lan, Yang Wang and Greg Mori. Discriminative Figure-Centric Models for Joint Action Localization and Recognition. IEEE International Conference on Computer Vision (ICCV), 2011.
Yang Wang, Duan Tran and Zicheng Liao. Learning Hierarchical Poselets for Human Parsing. IEEE Conference on Computer Vision and Pattern Recognition(CVPR), 2011. project page
Yang Wang and Greg Mori. Hidden Part Models for Human Action Recognition: Probabilistic versus Max-Margin. IEEE Transactions on Pattern Analysis and Machine Intelligence, vol.33, no.7, pp1310-1323, 2011.
2010
Yang Wang and Greg Mori. A Discriminative Latent Model of Image Region and Object Tag Correspondence. Advances in Neural Information Processing Systems (NIPS), 2010.
Tian Lan, Yang Wang, Weilong Yang and Greg Mori. Beyond Actions: Discriminative Models for Contextual Group Activities. Advances in Neural Information Processing Systems (NIPS), 2010. project page
Tian Lan, Yang Wang, Greg Mori and Stephen Robinovitch. Retrieving Actions in Group Contexts. ECCV Workshop on Sign, Gesture and Activity, 2010.
Yang Wang and Greg Mori. A Discriminative Latent Model of Object Classes and Attributes. The 11th European Conference on Computer Vision (ECCV), 2010.
Mani Ranjbar, Greg Mori and Yang Wang. Optimizing Complex Loss Functions in Structured Prediction. The 11th European Conference on Computer Vision (ECCV), 2010.
Weilong Yang, Yang Wang and Greg Mori. Learning Transferable Distance Functions for Human Action Recognition. Book Chapter in Machine Learning for Vision-based Motion Analysis, Springer, 2010.
Yang Wang. Understanding Images and Videos of People: A Structured Model Approach. VDM Verlag Dr. Muller, Germany (ISBN 978-3-639-24365-9)
Weilong Yang, Yang Wang and Greg Mori. Recognizing Human Actions from Still Images with Latent Poses. IEEE Conference on Computer Vision and Pattern Recognition(CVPR), 2010. dataset annotation
2009
Yang Wang, Gholamreza Haffari, Shaojun Wang and Greg Mori. A Rate Distortion Approach for Semi-Supervised Conditional Random Fields. Advances in Neural Information Processing Systems (NIPS) 22, 2009.
Weilong Yang, Yang Wang and Greg Mori. Efficient Human Action Detection using a Transferable Distance Function. The 9th Asian Conference on Computer Vision (ACCV), 2009. videos
Weilong Yang, Yang Wang and Greg Mori. Human Action Recognition from a Single Clip per Action. ICCV Workshop on Machine Learning for Vision-based Motion Analysis, 2009.
Yang Wang and Greg Mori Max-Margin Hidden Conditional Random Fields for Human Action Recognition. IEEE Conference on Computer Vision and Pattern Recognition(CVPR), 2009.
Yang Wang and Greg Mori. Human Action Recognition by Semi-Latent Topic Models. IEEE Transactions on Pattern Analysis and Machine Intelligence, vol.31, no.10, pp1762-1774 (Special Issue on Probabilistic Graphical Models in Computer Vision), 2009. project page (with dataset)
2008
Yang Wang and Greg Mori. Learning a Discriminative Hidden Part Model for Human Action Recognition. Advances in Neural Information Processing Systems(NIPS) 21, 2008.
Yang Wang and Greg Mori. Multiple Tree Models for Occlusion and Spatial Constraints in Human Pose Estimation. The 10th European Conference on Computer Vision(ECCV), 2008.
Gholamreza Haffari, Yang Wang, Shaojun Wang, Greg Mori and Feng Jiao. Boosting with Incomplete Information. The 25th International Conference on Machine Learning(ICML), 2008.
2007
Yang Wang, Payam Sabzmeydani and Greg Mori. Semi-Latent Dirichlet Allocation: A Hierarchical Model for Human Action Recognition. ICCV Workshop on Human Motion Understanding, Modeling, Capture and Animation, 2007. See our TPAMI paper for an extended version
Yang Wang and Greg Mori. Boosted Multiple Deformable Trees for Parsing Human Poses. ICCV Workshop on Human Motion Understanding, Modeling, Capture and Animation, 2007. See our ECCV'08 paper for an extended version
2006
Yang Wang, Hao Jiang, Mark S. Drew, Ze-Nian Li and Greg Mori. Unsupervised Discovery of Action Classes. IEEE Conference on Computer Vision and Pattern Recognition(CVPR), 2006. project page (with dataset)
2005
Nando de Freitas, Yang Wang, Maryam Mahdaviani and Dustin Lang. Fast Krylov Methods for N-body Learning. Advances in Neural Information Processing Systems(NIPS) 18, 2005.
